@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #162131;
    --dark: #263040;
    --primary: #d1d5db;
    --secondary: #94a3b8;
    --highlight: #fb70a9;
}

body {
    background: var(--background);
    color: var(--primary);
}

h1,
h2,
h3 {
    @apply font-bold text-white;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

button {
    font-size: 1rem;
    background: var(--highlight);
    @apply px-2 py-2 font-semibold text-white rounded;
}

input {
    font-size: 1rem;
    background: var(--dark);
    @apply px-3 py-2 rounded;
}

/* navbar & main content */
nav {
    @apply max-w-full;

    h1 {
        @apply mb-2;
    }

    a {
        color: var(--secondary);
        @apply mr-4 font-semibold;
    }

    a.active {
        color: var(--highlight);
    }

    div {
        @apply p-4 m-auto max-w-7xl;
    }

    border-bottom: 1px solid var(--dark);
}

main {
    @apply p-4 m-auto max-w-7xl;
}

.search {
    @apply block mx-auto mt-4 mb-7 w-96;
}

/* book list page */
header {
    @apply my-7;

    button {
        @apply ml-1;
    }
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    li {
        background: var(--dark);
        @apply gap-4 p-4 rounded;
    }

    p {
        @apply my-1;
    }

    button {
        @apply py-1 float-end;
    }
}

/* create page */
.create form {
    @apply max-w-md m-auto;

    button {
        @apply px-3 py-2 mt-6;
    }
}

.field {
    @apply grid gap-4 my-4;
}

.field input {
    @apply grow;
}

.error {
    color: var(--highlight);
}